#content, #merged {
  margin-right: 30%;
}
.label-panel {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 40px;
  width: 30%;
  max-height: calc(100% - 40px);
  padding: 10px;
  margin: 45px 0 10px;
  border: 1px solid #ddd;
  background: #fff;
  z-index: 10;
}
.hide-navbar .label-panel {
  margin-top: -5px;
}
.label-panel label {
  font-weight: normal;
}

body[data-step="1"] #content,
body[data-step="1"] #merged {
  margin-right: 254px;
  margin-left: 4px;
}
body[data-step="1"] .label-panel {
  width: 250px;
}

body[data-step="3"] #content {
  margin-right: 420px;
}
body[data-step="3"] .label-panel {
  width: 420px;
}
body[data-step="3"][data-no-note="true"] #content,
body.hide-label-panel #content,
body.hide-label-panel #merged {
  margin-right: 0;
}
body[data-step="3"][data-no-note="true"] .label-panel,
body.hide-label-panel .label-panel {
  display: none;
}

.row-pairs-div {
  margin-top: 8px;
}
textarea {outline: none;}
.row-pairs-div > textarea {
  width: 100%;
  padding: 4px;
  margin-bottom: 4px;
}
.label-panel > .notes {
  max-height: calc(100% - 45px);
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.label-panel > .notes > p:not(.raw-note) {
  text-indent: 0;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.label-panel > .notes > p:not(.raw-note).wrap {
  white-space: normal;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 4px;
  padding: 0 2px 4px 6px;
}
.label-panel > .notes > p > span:not(.p):first-child {
  font-weight: 700;
}
.label-panel > .notes > p:first-child > span:not(.p):first-child {
  color: #00f;
}
.label-panel .linked {
  color: #999;
  cursor: pointer;
}
.label-panel .linked > span:first-child,
.label-panel .linked:not(.wrap) > .content {
  text-decoration: line-through;
}

.label-panel > .notes > p:not(.wrap) > [abbr]::after,
.label-panel > .notes > p > [abbr]:not([title])::after {
  content: attr(abbr);
}
.label-panel > .notes > p.wrap > [title]:first-child::after {
  content: attr(title);
}

.label-panel p.raw-note {
  text-indent: 0;
}
.label-panel p.raw-note[data-note-id]::before {
  content: attr(data-note-id);
  font-size: 9px;
  color: lightgray;
  width: 28px;
  display: inline-block;
}
.label-panel p.raw-note.selected {
  color: #0000a0;
}
.label-panel p.raw-note > .p {
  display: block;
  text-indent: 2em;
}
#sel-p-count {
  margin-right: 10px;
  font-size: 12px;
}

.label-panel button, .ke-line {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#merged {
  font-size: 14px;
  border-bottom: 2px solid red;
}
#merged .row > div {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: none;
}
#merged .row > div::-webkit-scrollbar {
  width: 0;
}

.current-row div span {
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-right: 4px;
  padding: 1px 2px;
  display: inline-block;
}
.in-cur-row, .context-menu-active {
  background-color: #dedddc;
}

.label-panel-bar {
  text-align: right;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
  margin-bottom: 5px;
}


#verify-errors {
  margin-top: 10px;
}
#verify-errors > div {
  margin: 3px 0;
}
#verify-errors > div:not([data-moved]) span {
  color: red;
}
#verify-errors span:hover {
  color: #f0f;
  cursor: pointer;
}
#verify-errors > div > div {
  text-indent: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-nav {
  float: right;
  width: 120px;
}
.p-nav input {
  height: 30px;
  padding: 6px 8px;
}

.highlight { color: #0000a0}

.gray-linked note[cur-tag]:not(.note-expanded) {
  color: gray;
}

body[data-step="1"] #content:not(.show-line-no) p {
  text-indent: 0;
}
body[data-step="1"]:not(.show-hide-txt) .hide-txt {
  display: block;
  color: gray;
  font-size: .6em;
}

body:not([data-step="1"]) #content:not(.single-article) .row > div {
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: none;
}
body:not([data-step="1"]) #content:not(.single-article) .row > div::-webkit-scrollbar {
  width: 0;
}
