#content, #merged {
  margin-right: 30%;
}
.label-panel {
  position: fixed;
  right: 0;
  top: 0;
  width: 30%;
  min-height: 100%;
  padding: 10px;
  margin: 47px 0 10px;
  border: 1px solid #ddd;
  background: #fff;
  z-index: 1000;
}
body[data-step="1"] #content,
body[data-step="1"] #merged {
  margin-right: 254px;
}
body[data-step="1"] .label-panel {
  width: 250px;
}
body[data-step="3"] #content {
  margin-right: 420px;
}
body[data-step="3"] .label-panel {
  width: 420px;
}
.row-pairs-div {
  margin-top: 10px;
}
textarea {outline: none;}
.row-pairs-div > textarea {
  width: 100%;
  padding: 4px;
}
.label-panel > .notes {
  max-height: 700px;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.label-panel > .notes > p {
  text-indent: 0;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}
.label-panel > .notes > p > span:first-child {
  font-weight: 700;
}
.label-panel > .notes > p:first-child > span:first-child {
  color: #00f;
}
.label-panel .linked {
  text-decoration: line-through;
  color: #999;
  cursor: pointer;
}

#merged {
  font-size: 14px;
  border-bottom: 2px solid red;
}
#merged .row > div {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: none;
}
#merged .row > div::-webkit-scrollbar {
  width: 0;
}

.current-row div span {
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-right: 4px;
  padding: 1px 2px;
  display: inline-block;
}
.in-cur-row, .in-cur-row-sel {
  background-color: #dedddc;
}

.label-panel-bar {
  text-align: right;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
  margin-bottom: 5px;
}


#verify-errors {
  margin-top: 10px;
}
#verify-errors > div {
  margin: 3px 0;
}
#verify-errors > div:not([data-moved]) span {
  color: red;
}
#verify-errors span:hover {
  color: #f0f;
  cursor: pointer;
}
#verify-errors > div > div {
  text-indent: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlight { color: #0000a0}

.gray-linked note[cur-tag]:not(.note-expanded) {
  color: gray;
}

body[data-step="1"] #content:not(.show-line-no) p {
  text-indent: 0;
}

body:not([data-step="1"]) #content:not(.single-article) .row > div {
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: none;
}
body:not([data-step="1"]) #content:not(.single-article) .row > div::-webkit-scrollbar {
  width: 0;
}
