<!DOCTYPE html>
<html lang=zh-CN>
<head>
  <meta charset="UTF-8">
  <title>{{info['caption']}}</title>
  <meta name="keywords" content="{{info['caption']}},{{id}}"/>
  <meta name="description" content="{{info['caption']}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="assets/img/favicon.ico"/>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
  {% if has_ke_pan %}<link rel="stylesheet" href="assets/jstree/jstree.min.css"/>{% end %}
  <link href="assets/cb.css?v=324" rel="stylesheet"/>
  <link href="assets/note.css?v=324" rel="stylesheet"/>
  <link href="assets/theme.css" rel="stylesheet"/>
  <style>
    {% if note_names or has_ke_pan %}@media screen {body {padding-bottom: 50px;}} {% end %}
    .phone-bar {
      text-align: center;
      margin-bottom: 10px;
    }
    @media (min-width: 768px) {
      .phone-bar { display: none; }
    }
  </style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">原典</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="javascript:"><b>{{info['caption']}}</b></a></li>
        <li class="dropdown">
          <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">显示 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:" class="hide-xu" title="切换序言是否隐藏">隐藏序言</a></li>
            <li><a href="javascript:" id="hide-navbar" title="切换是否隐藏顶部导航栏">导航栏</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:" id="enlarge-font" title="增加正文字号">增加字号</a></li>
            <li><a href="javascript:" id="reduce-font" title="减少正文字号">减少字号</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:" id="theme-warm" title="切换为浅色外观、护眼色">护眼色</a></li>
            <li><a href="javascript:" id="theme-dark" title="切换为深色外观">深色外观</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:" id="show-line-no" title="切换是否显示行号">行号</a></li>
            {% if info.get('cols', 1) > 1 %}
            <li><a href="javascript:" id="to-table" title="转为多列表格以便复制到Word文档">转为表格</a></li>
            {% end %}
          </ul>
        </li>

        {% if note_names %}
        <li class="dropdown">
          <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">注解 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:" id="show-notes" title="切换是否显示全部注解">全部注解</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:" id="hide-tag" title="切换是否隐藏注解标记">隐藏标记</a></li>
          </ul>
        </li>
        {% end %}

        {% if has_ke_pan %}
        <li class="dropdown">
          <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">科判 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="ke-pan-ratio"><a>隐藏</a></li>
            <li class="ke-pan-ratio"><a>10%</a></li>
            <li class="ke-pan-ratio"><a>15%</a></li>
            <li class="ke-pan-ratio"><a>20%</a></li>
            <li class="ke-pan-ratio"><a>25%</a></li>
            <li class="ke-pan-ratio"><a>33%</a></li>
            <li class="ke-pan-ratio"><a>50%</a></li>
            <li class="ke-pan-ratio"><a>100%</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:" class="show-inline-ke-pan-btn" title="切换是否显示正文中的科判条目">显示文中科判</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:" id="enlarge-ke-pan-font" title="增加科判字号">增加字号</a></li>
            <li><a href="javascript:" id="reduce-ke-pan-font" title="减少科判字号">减少字号</a></li>
          </ul>
        </li>
        {% end %}
      </ul>

      {% if info.get('cols', 1) > 1 %}
      <div class="btn-group toggle-column" role="group">
        <button type="button" class="btn btn-default btn-sm navbar-btn show-xu" title="切换是否显示序言">序</button>
        {% for i in range(info['cols']) %}
        <button type="button" class="btn btn-default btn-sm navbar-btn">{{i + 1}}</button>
        {% end %}
      </div>
      {% end %}
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default btn-sm navbar-btn" title="增加正文字号" onclick="enlargeFont()">+</button>
        <button type="button" class="btn btn-default btn-sm navbar-btn" title="减少正文字号" onclick="reduceFont()">-</button>
      </div>
    </div>
  </div>
</nav>

<div class="phone-bar no-print">
  {% if info.get('cols', 1) > 1 %}
  <div class="btn-group toggle-column" role="group">
    <button type="button" class="btn btn-default btn-sm show-xu" title="切换是否显示序言">序</button>
    {% for i in range(info['cols']) %}
    <button type="button" class="btn btn-default btn-sm">{{i + 1}}</button>
    {% end %}
  </div>
  {% end %}
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default btn-sm" title="增加正文字号" onclick="enlargeFont()">+</button>
    <button type="button" class="btn btn-default btn-sm" title="减少正文字号" onclick="reduceFont()">-</button>
  </div>
</div>

{% if has_ke_pan %}
<div class="left-nav no-print">
  <div id="judgments"></div>
</div>
{% end %}

<div id="content" class="container-fluid {% if info.get('cols', 1) < 2 and 'original' not in '\n'.join(page['html']) %} original{% end %}">
  {% raw '\n'.join(page['html']) %}
</div>

{% if note_names %}
<footer><p></p></footer>
{% end %}

<script>
  window.pageName = '{{id}}';
  {% if ke_pan_types %}
  window.kePanTypes = [{% for p in ke_pan_types %}
    '{{p}}', {% end %}
  ].map(s => s.split(' '));
  {% end %}
</script>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
{% if has_ke_pan %}<script src="assets/jstree/jstree.min.js"></script>{% end %}
<script src="assets/reader.js?v=324"></script>
{% for fn in json_files %}
<script src="data/{{fn}}"></script>
{% end %}

<script>
  {% for a in note_names %}
  insertNotes({% if info.get('cols', 1) > 1 %} $('.cell-{{a[1]}}') {% else %} null {% end %}, {{a[0]}}, '{{a[2]}}', '{{a[3]}}');
  {% end %}

  {% if note_names %}
  $(document).on('mouseenter', '[data-nid]', function (e) {
    const id = e.target.closest('[data-nid]').getAttribute('data-nid'),
            p = $(`.note-tag[data-nid=${id}]`), title = p.attr('title');
    $('footer > p').text(`${p.attr('data-tag')}: ${title}`);
  });
  {% end %}
</script>
</body>
</html>
