<html lang=zh-CN>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{info['caption']}}</title>
  <meta name="keywords" contect="{{info['caption']}},{{id}}"/>
  <meta name="description" contect="{{info['caption']}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="assets/img/favicon.ico"/>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
  <link href="assets/cb.css?v=131" rel="stylesheet"/>
  <link href="assets/note.css?v=129" rel="stylesheet"/>
  <style>
    @media screen {
      body {
        padding-top: 60px;
        {% if note_names %}padding-bottom: 50px;{% end %}
      }
    }
    .phone-bar {
      text-align: center;
      margin-bottom: 10px;
    }
    @media (min-width: 768px) {
      .phone-bar { display: none; }
    }
  </style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">原典</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">{{info['caption']}}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">显示 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" class="hide-xu" title="切换序言是否隐藏">隐藏序言</a></li>
            <li><a href="#" id="show-notes" title="切换是否显示全部注解">注解</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" id="enlarge-font" title="增加正文字号">增加字号</a></li>
            <li><a href="#" id="reduce-font" title="减少正文字号">减少字号</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" id="show-left" title="只显示左文、第1栏">左文</a></li>
            <li><a href="#" id="show-right" title="只显示右文、第2栏">右文</a></li>
            <li><a href="#" id="show-both" title="左右对照显示">对照</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" id="show-hide-txt" title="切换是否显示默认隐藏的文本">隐藏字</a></li>
            <li><a href="#" id="show-line-no" title="切换是否显示行号">行号</a></li>
            <li><a href="#" id="show-box" title="显隐段落和span框，用于调试科判分布">段框</a></li>
            {% if info.get('cols', 1) > 1 %}
            <li><a href="#" id="to-table" title="转为多列表格以便复制到Word文档">转为表格</a></li>
            {% end %}
          </ul>
        </li>
      </ul>

      {% if info.get('cols', 1) > 1 %}
      <div class="btn-group toggle-column" role="group">
        <button type="button" class="btn btn-default btn-sm navbar-btn show-xu">序</button>
        {% for i in range(info['cols']) %}
        <button type="button" class="btn btn-default btn-sm navbar-btn">{{i + 1}}</button>
        {% end %}
        <button type="button" class="btn btn-default btn-sm navbar-btn">全</button>
      </div>
      {% end %}
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default btn-sm navbar-btn" title="增加正文字号" onclick="enlargeFont()">+</button>
        <button type="button" class="btn btn-default btn-sm navbar-btn" title="减少正文字号" onclick="reduceFont()">-</button>
      </div>
    </div>
  </div>
</nav>

<div class="phone-bar">
  {% if info.get('cols', 1) > 1 %}
  <div class="btn-group toggle-column" role="group">
    <button type="button" class="btn btn-default btn-sm show-xu">序</button>
    {% for i in range(info['cols']) %}
    <button type="button" class="btn btn-default btn-sm">{{i + 1}}</button>
    {% end %}
    <button type="button" class="btn btn-default btn-sm">全</button>
  </div>
  {% end %}
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default btn-sm" title="增加正文字号" onclick="enlargeFont()">+</button>
    <button type="button" class="btn btn-default btn-sm" title="减少正文字号" onclick="reduceFont()">-</button>
  </div>
</div>

<div id="content" class="container-fluid {% if info.get('cols', 1) < 2 %} original{% end %}">
  {% raw '\n'.join(page['html']) %}
</div>

{% if note_names %}
<footer><p></p></footer>
{% end %}

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/reader.js?v=131"></script>
{% for fn in json_files %}
<script src="data/{{fn}}"></script>
{% end %}

<script>
  toggleXu();
  
  {% for a in note_names %}
  insertNotes({% if info.get('cols', 1) > 1 %} $(`.cell-${r.col}`) {% else %} null {% end %}, {{a[0]}}, '{{a[1]}}');
  {% end %}

  {% if note_names %}
  $(document).on('mouseenter', '[data-nid]', function (e) {
    const id = e.target.getAttribute('data-nid'),
            p = $(`.note-tag[data-nid=${id}]`), title = p.attr('title');
    $('footer > p').text(`${p.attr('data-tag')}: ${title}`);
  });
  {% end %}
</script>
</body>
</html>
