<!DOCTYPE html>
<html lang=zh-CN>
<head>
  <meta charset="UTF-8">
  <title>经典页面制作</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{static_url('img/favicon.ico')}}"/>
  <link rel="stylesheet" href="{{static_url('bootstrap/css/bootstrap.min.css')}}"/>
  <link href="{{static_url('theme.css')}}" rel="stylesheet"/>
  <style>
    .input-group { margin-top: 18px; }
    h3 {
      font-weight: normal;
      font-family: BlinkMacSystemFont, Helvetica, 'PingFang SC', 'Microsoft YaHei', arial, sans-serif;
    }
    h3 > span { display: inline-block; font-size: 16px; }
    h3 > span > span { margin-left: 1em; color: #555; }
  </style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/cb">经典页面制作</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="javascript:">首页</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {% for (info, p) in pages %}
  <h3><a href="{{p['url']}}">{{p['id']}}: {{info['caption']}}</a><span>
    {% if info.get('cols', 1) > 1 %}<span>{{info['cols']}}个对照版本</span>{% end %}
    {% if p.get('ke_pan_type_count') %}<span>{{p['ke_pan_type_count']}}种科判</span>{% end %}
    {% if info.get('notes') %}<span>{{len(info['notes'])}}种注解</span>{% end %}
    {% if info.get('note_count') %}<span>{{info['note_count']}}处注解</span>{% end %}
  </span></h3>
  {% end %}

  <div class="input-group">
    <input type="text" class="form-control" id="page-id"
           placeholder="经号_卷号:经典名称”">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" id="new-page">创建页面</button>
    </div>
  </div>
  <p>按“经号_卷号:经典名称”格式输入，卷号可省略，例如“T0945_1:楞嚴經【卷1】</p>
</div>

<script src="{{static_url('js/jquery.min.js')}}"></script>
<script src="{{static_url('js/sweetalert.min.js')}}"></script>
<script src="{{static_url('bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{static_url('reader.js')}}"></script>
<script src="{{static_url('label/fetch-note.js')}}"></script>
<script>
  $('#new-page').click(() => {
    const v = $('#page-id').val().split(/\s*[:：]\s*/)
    $.post('/cb/page/new', {id: v[0], caption: v[1]}, response => {
      window.location.href = response.url
    }).error(xhr => showError('创建失败', errors[xhr.status] || xhr.responseText))
    return false
  })

  function resetPage(pageId, notes) {
    let i = -1
    function loop() {
      const val = notes.shift()
      if (val) {
        fetchNote(pageId, val.split('|'), null, ++i + (notes.length ? '' : 'end'), loop)
      }
    }
    loop()
  }

  const errors = {
    501: '页面编号为 经号 或 经号_卷号，经号由2~8位字母数字组成',
    502: '需要输入20字内的经典名称，用冒号与页面编号隔开',
    503: '页面已经存在',
  }
</script>
</body>
</html>
