<!DOCTYPE html>
<html lang=zh-CN>
<head>
  <meta charset="UTF-8">
  <title>{{info['caption']}}制作</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{static_url('img/favicon.ico')}}"/>
  <link rel="stylesheet" href="{{static_url('bootstrap/css/bootstrap.min.css')}}"/>
  {% if has_ke_pan %}<link rel="stylesheet" href="{{static_url('jstree/jstree.min.css')}}"/>{% end %}
  <link href="{{static_url('cb.css')}}" rel="stylesheet"/>
  <link href="{{static_url('note.css')}}" rel="stylesheet"/>
  <style>
    @media screen {
      body {
        padding-bottom: 50px;
      }
    }

    #content {
      border-top: 1px solid #ddd;
    }

    .task-step.active .step-title {
      font-weight: bold;
    }
    .task-step:not(.active) .step-title {
      color: #777;
    }
    .task-step:not(.active) .step-title > span:hover {
      color: #0000a0;
      cursor: pointer;
    }
    .step-content {
      margin-bottom: 8px;
    }
    .task-step:not(.active) .step-content {
      display: none;
    }
    .task-step a {
      text-decoration: none;
      cursor: pointer;
    }
    .original {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      margin-top: 10px;
    }
    .original + .original,
    .row > div + div {
      border-left: 1px solid #ddd;
    }
    .single-article .original {
      padding: 10px;
      border-top: none;
      border-bottom: none;
    }
    .current-row .end-move-rows, .current-row .hide-label-panel { float: right; }

    .step-content .input-group { margin-left: 2em; }
    body:not(.hide-label-panel)[data-step="3"] .input-group.note-tag-group { width: calc(100% - 380px); }

    .list-note { margin-left: 2em; }
    .list-note > span {
      display: inline-block;
      border: 1px solid rgba(27, 31, 35, 0.2);
      padding: 2px 4px;
      border-radius: 3px;
      min-width: 20px;
      text-indent: 0;
    }
  </style>
</head>
<body data-step="{{step}}" data-no-note="{{'' if info.get('note_id') else 'true'}}">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/cb">经典页面制作</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="javascript:">{{info['caption']}}</a></li>

        {% if page.get('html') %}
        <li class="dropdown">
          <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">显示 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:" class="hide-xu" title="切换序言是否隐藏">隐藏序言</a></li>
            <li><a href="javascript:" class="hide-label-panel" title="切换是否显示右边标注面板">标注面板</a></li>
            <li><a href="javascript:" id="hide-navbar" title="切换是否隐藏顶部导航栏">导航栏</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:" id="show-notes" title="切换是否显示全部注解">全部注解</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:" id="enlarge-font" title="增加正文字号">增加字号</a></li>
            <li><a href="javascript:" id="reduce-font" title="减少正文字号">减少字号</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:" id="show-left" title="只显示左文、第1栏">左文</a></li>
            <li><a href="javascript:" id="show-right" title="只显示右文、第2栏">右文</a></li>
            <li><a href="javascript:" id="show-both" title="左右对照显示">对照</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:" id="show-hide-txt" title="切换是否显示默认隐藏的文本">隐藏字</a></li>
            <li><a href="javascript:" id="show-line-no" title="切换是否显示行号">行号</a></li>
            <li><a href="javascript:" id="show-box" title="显隐段落和span框，用于调试科判分布">段框</a></li>
            {% if step > 1 %}
            <li role="separator" class="divider"></li>
            <li><a href="javascript:" id="to-table" title="转为多列表格以便复制到Word文档">转为表格</a></li>
            {% end %}
          </ul>
        </li>
        {% end %}

        {% if has_ke_pan %}
        <li class="dropdown">
          <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">科判 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="ke-pan-ratio"><a>隐藏</a></li>
            <li class="ke-pan-ratio"><a>10%</a></li>
            <li class="ke-pan-ratio"><a>15%</a></li>
            <li class="ke-pan-ratio"><a>20%</a></li>
            <li class="ke-pan-ratio"><a>25%</a></li>
            <li class="ke-pan-ratio"><a>33%</a></li>
            <li class="ke-pan-ratio"><a>50%</a></li>
            <li class="ke-pan-ratio"><a>100%</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:" class="show-inline-ke-pan-btn" title="切换是否显示正文中的科判条目">显示文中科判</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:" id="enlarge-ke-pan-font" title="增加科判字号">增加字号</a></li>
            <li><a href="javascript:" id="reduce-ke-pan-font" title="减少科判字号">减少字号</a></li>
            {% if step == 1 %}<li id="set-ke-pan-type"><a>设置科判类型...</a></li>{% end %}
          </ul>
        </li>
        {% end %}

      </ul>

      {% if info.get('cols', 1) > 1 %}
      <div class="btn-group toggle-column" role="group">
        <button type="button" class="btn btn-default btn-sm navbar-btn show-xu" title="切换是否显示序言">序</button>
        <button type="button" class="btn btn-default btn-sm navbar-btn">1</button>
        <button type="button" class="btn btn-default btn-sm navbar-btn">2</button>
        <button type="button" class="btn btn-default btn-sm navbar-btn">3</button>
        <button type="button" class="btn btn-default btn-sm navbar-btn">4</button>
        <button type="button" class="btn btn-default btn-sm navbar-btn">5</button>
        <button type="button" class="btn btn-default btn-sm navbar-btn">6</button>
        <button type="button" class="btn btn-default btn-sm navbar-btn">7</button>
        <button type="button" class="btn btn-default btn-sm navbar-btn">8</button>
        <button type="button" class="btn btn-default btn-sm navbar-btn">9</button>
        <button type="button" class="btn btn-default btn-sm navbar-btn">10</button>
        <button type="button" class="btn btn-default btn-sm navbar-btn">11</button>
        <button type="button" class="btn btn-default btn-sm navbar-btn">12</button>
      </div>
      {% end %}
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default btn-sm navbar-btn" title="增加正文字号" onclick="enlargeFont()">+</button>
        <button type="button" class="btn btn-default btn-sm navbar-btn" title="减少正文字号" onclick="reduceFont()">-</button>
      </div>

      <ul class="nav navbar-nav navbar-right">
        {% for tag, v in (step==3 and notes or []) %}
        <li><a href="javascript:" data-tag="{{tag}}" data-col="{{v['col']}}"
               title="{{v.get('desc') or v['name']}}"
               class="init-notes-btn init-notes-{{v['col']}}">[{{tag}}]</a></li>
        {% end %}
      </ul>

    </div>
  </div>
</nav>

<div class="container task-steps">
  <div class="task-step" data-step="0">
    <p class="step-title"><span>第1步</span>：获取CBeta网页原文</p>
    <div class="step-content">
      <p>请输入要获取原文的<i>经号_卷号</i>，用“|”分隔需要左右对照的经文（最多12篇），可加经文简要描述并用空格分隔。</p>
      <p>可用“_”分隔需要合并的多卷，卷号为三位数，例如“T1666 梁譯|T1667_001_002 唐譯”。</p>
      <p>“获取原文”后，将重置原始网页内容，不改变段落分组设置、嵌入的注解。</p>
      <div class="input-group">
        <input type="text" class="form-control" id="cb_ids" value="{{cb_ids}}">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default" id="cb-download">获取原文</button>
        </div>
      </div>

      <p style="margin-top: 10px">在“获取原文”前可提前导入注解，将在第4步中使用。</p>
      <div class="input-group note-tag-group">
        <input type="text" class="form-control" placeholder="按“栏序号|标记字|注解的经号_卷号|可选的注解名称”格式输入">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default fetch-note">导入注解</button>
        </div>
      </div>
      <p>按“栏序号|标记字|注解的经号_卷号|可选的注解名称”格式输入，多个卷号用_分隔。例如“0|義|T1846|義記，釋法藏撰”、
        “1|流|T1511_001_002|T1511 金剛般若波羅蜜經論”。</p>
      {% for row in info.get('notes', []) %}
      <p class="list-note">{% for s in row.split('|') %}<span>{{s}}</span> {% end %}</p>
      {% end %}
    </div>
  </div>

  <div class="task-step" data-step="1">
    <p class="step-title"><span>第2步</span>：段落分组，让每栏对照内容匹配，设置科判</p>
    <div class="step-content">
      {% if info.get('cols', 1) > 1 %}
      <p>在红线下各栏中依次点击要同组的段落，然后点击“分组”按钮或按回车。如需 拆分段落 或 插入科判条目 可在段落上点鼠标右键菜单。</p>
      {% else %}
      <p>如需 拆分段落 或 插入科判条目 可在段落上点鼠标右键菜单。完成可进入 <a class="end-move-rows"><b>下一步</b></a>。</p>
      {% end %}
    </div>
  </div>

  {% if page.get('html_end') %}
  <div class="task-step" data-step="2">
    <p class="step-title"><span>第3步</span>：完成制作</p>
    <div class="step-content">
      <ul>
        <li>如果要将多列内容复制到Word文档，可点击“显示|转为表格”。</li>
        <li>可 <a onclick="location.href = location.pathname + '?step=4'">嵌入注解</a>，
          以便在正文中随时阅读相关经典释文。</li>
        <li>可 <a href="javascript:" id="download-html">下载当前HTML</a>
          {% if notes %}<a href="javascript:" id="download-notes">下载注解</a>{% end %}
          以便发布离线网页。</li>
      </ul>
    </div>
  </div>

  <div class="task-step" data-step="3">
    <p class="step-title"><span>第4步</span>：合并注解到论文</p>
    <div class="step-content">
      <p class="tip-3-pair">在正文中选择标注面板的第一条注解对应的文本（双击第一条也会自动选中文本，可选择连续的多个段落），按回车键插入注解。</p>
      <p class="tip-3-raw">先在标注面板点击注解行，然后在正文中对应的文本，按回车键插入注解。</p>
      <p>如果按下了Shift或Ctrl键，则按回车键时不自动切换到下一条，可以将多个连续段落与此注解关联。</p>

      <div class="input-group note-tag-group">
        <input type="text" class="form-control" placeholder="按“标记字|注解的经号_卷号|可选的注解名称”格式输入">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default fetch-note">导入注解</button>
        </div>
      </div>
      <p>按“标记字|注解的经号_卷号|可选的注解名称”格式输入，多个卷号用_分隔。例如“義|T1846|義記，釋法藏撰”、
        “流|T1511_001_002|T1511 金剛般若波羅蜜經論”。</p>
    </div>
  </div>
  {% end %}
</div>

{% if has_ke_pan %}
<style>.task-steps{margin-left: 0;}</style>
<div class="left-nav no-print">
  <div id="judgments"></div>
</div>
{% end %}

{% if step == 1 and info['cols'] > 1 %}
<div id="merged" class="container-fluid"></div>
<div class="label-panel">
  <div class="current-row">
    {% for ic in range(info['cols']) %}
    <div class="row">
      <label class="col-xs-4">第{{ic + 1}}栏：</label>
      <div class="col-xs-8 row-ids row-ids-{{ic}}"></div>
    </div>
    {% end %}
    <button class="btn btn-default btn-sm" id="move-row" title="（可按回车）将此组段落移到左上的合并区，成为左右对照的一组">移为一组</button>
    <button class="btn btn-default btn-sm" title="重新应用下面输入区域的分组设置" onclick="applyRowPairs()">应用输入</button>
    <button class="btn btn-sm hide-label-panel" title="隐藏标注面板">×</button>
    <button class="btn btn-primary btn-sm end-move-rows" title="段落分组完成，进入下一步">完成</button>
  </div>
  <div class="row-pairs-div">
    <textarea rows="10" id="row-pairs-area"></textarea>
    <div>说明：末尾有减号为隐藏文本，有星号为移动原文（按Shift点击），有点号“.”为序言。<br/>以“:ke ”开头的行是科判条目，其后的文本可加多个减号表示科判层级。</div>
  </div>
  <div>
    <button class="btn btn-default btn-sm" id="to-original" title="滚动到合并区下方的红线处，即未合并内容的上方">到分隔线</button>
    <div class="p-nav">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="段落号">
        <span class="input-group-btn">
        <button class="btn btn-default btn-sm" type="button">定位</button>
      </span>
      </div><!-- /input-group -->
    </div>
  </div>
  <div id="verify-errors"></div>
</div>
{% end %}

{% if page.get('html') and step > 0 %}
<div id="content" class="container-fluid {% if info.get('cols', 1) < 2 and 'original' not in '\n'.join(page['html']) %} original{% end %}">
  {% if step == 1 %}<div class="row row0">{% end %}
  {% raw '\n'.join(page['html']) %}
  {% if step == 1 %}</div>{% end %}
</div>
{% end %}

<footer><p></p></footer>

<script>
  window.pageId = '{{id}}';
  window.pageName = '{{id}}step{{step}}';
  {% if ke_pan_types %}
  window.kePanTypes = '{{"|".join(ke_pan_types)}}'.split('|').map(s => s.split(' '));
  {% end %}
</script>
<script src="{{static_url('js/jquery.min.js')}}"></script>
<script src="{{static_url('js/sweetalert.min.js')}}"></script>
<script src="{{static_url('js/download.js')}}"></script>
<script src="{{static_url('bootstrap/js/bootstrap.min.js')}}"></script>
{% if has_ke_pan %}<script src="{{static_url('jstree/jstree.min.js')}}"></script>{% end %}
<script src="{{static_url('reader.js')}}"></script>
<link href="{{static_url('js/jquery.contextMenu.css')}}" rel="stylesheet"/>
<script src="{{static_url('js/jquery.contextMenu.js')}}"></script>
<script src="{{static_url('label/fetch-note.js')}}"></script>

{% if step == 1 %}
<script src="{{static_url('label/group-rows.js')}}"></script>
{% if info['cols'] > 1 %}
<link href="{{static_url('label/label-panel.css')}}" rel="stylesheet"/>
<script>initGroupRows('{{rowPairs}}');</script>
{% else %}
<style>.context-menu-active {background-color: #dedddc;}</style>
<script>toggleLineNo();</script>
{% end %}
{% end %}


{% if step == 3 %}
<div class="label-panel">
  <div class="label-panel-bar">
    <button class="btn btn-default btn-sm hidden" id="sel-p-count"></button>
    <button class="btn btn-default btn-sm" id="skip-top">跳过第一条</button>
    <button class="btn btn-default btn-sm" id="gray-linked">已标变灰</button>
  </div>
  <div class="notes"></div>
</div>
<link href="{{static_url('label/label-panel.css')}}" rel="stylesheet"/>
<script src="{{static_url('label/label-panel.js')}}"></script>
<script>
  $('#gray-linked').click(function () {
    $('body').toggleClass('gray-linked');
    $(this).toggleClass('active');
  }).click();
</script>
{% end %}

<script>
  // 给当前步骤组设置活动状态
  $(`.task-step[data-step="{{step}}"]`).addClass('active')

  // 在非当前步骤组的步骤号上点击，切换步骤
  $('.task-step:not(.active) .step-title > span').click(e => {
    const step = e.target.closest('.task-step').getAttribute('data-step')
    location.href = location.pathname + '?step=' + (parseInt(step) + 1)
  })

  // 第一步中的获取原文
  $('#cb-download').click(() => {
    const down = () => {
      const urls = $('#cb_ids').val()
      $.post('/cb/page/fetch/{{id}}', {urls: urls}, reload).error(ajaxError('获取原文失败'))
    }
    if ($('#content').text().trim()) {
      swal({
        title: '重新获取原文',
        text: '将重置原始网页内容，不改变段落分组设置、嵌入的注解，确实要重新获取吗？',
        buttons: ['取消', '重新获取']
      }).then(result => result && down())
    } else {
      down()
    }
  })

  const reload = () => location.reload()

  // 第二步保存段落分组数据，给“移为一组”按钮用
  function saveRowPairs(autoReload, pairs) {
    $.post('/cb/page/pairs/{{id}}', {
      'pairs': pairs || window.rowPairs.join('||'), kePanType: cbOptions.kePanType || ''
    }, autoReload ? reload : updateParaIds).error(ajaxError('保存失败', reload))
  }

  // 段落拆分 {id, text, result=[{id, text}...]}, 或 段落合并 {id, id2}
  function saveSplitParagraph(data) {
    $.post('/cb/page/p/split/{{id}}', {data: JSON.stringify(data)}, r => {
      showRowPairs(r.rowPairs)
      selectInPairsArea(data.id)
    }).error(ajaxError('保存失败', reload))
  }

  // 应用段落分组数据
  function applyRowPairs() {
    const pairs = $('#row-pairs-area').val().replace(/(^|\n)-(\|-)+($|\n)/g, '').replace(/\n+/g, '||')
    $.post('/cb/page/pairs/{{id}}', {'pairs': pairs}, reload)
            .error(ajaxError('保存失败'))
  }

  // 段落分组完成
  $('.end-move-rows').click(() => {
    const html = trimHtml($('#merged').html()) || getHtml()
    const save = () => $.post('/cb/page/merge/end/{{id}}', {'html': html}, reload)
            .error(ajaxError('保存失败'))

    $.post('/cb/page/merge/end/{{id}}', {'html': html, 'test': true}, r => {
      if (r.miss_count) {
        swal({
          title: '完成段落分组',
          text: `将覆盖最终网页内容，清除 ${r.miss_count} 条注解。确实要继续吗？\n段落号: ${r.miss_ids}`,
          buttons: ['取消', '完成']
        }).then(result => result && save())
      } else {
        save()
      }
    }).error(ajaxError('检查失败'))
  })

  function updateParaIds() {
    $.get('/cb/page/p/order/{{id}}', r => {
      window.paraIds = r.ids
    })
  }
  window.paraIds = '{{paragraph_ids}}'.split(',')

  // 增加一个注释来源，自动获取并解析原文
  $('.fetch-note').click(() => fetchNote(pageId, $('.note-tag-group>input').val().split('|'), getVisibleColumns()))

  // 第4步导航栏右侧的注解标签，切换注解标引
  function _initNotesBtnClick(btn, first) {
    if (!btn && first) {
      btn = cbOptions.curNoteTag && $(`.init-notes-btn[data-tag="${cbOptions.curNoteTag}"]`)[0] ||
              $('.init-notes-btn')[0]
    }
    if (btn) {
      const tag = btn.getAttribute('data-tag'),
              col = parseInt(btn.getAttribute('data-col')),
              visCols = getVisibleColumns(),
              colCount = parseInt($('body').attr('data-col-count')) || 0

      cbOptions.curNoteTag = tag
      if (visCols.length > 1 || visCols[0] >= 0 && visCols[0] !== col) {
        if (!first) {
          $('.cell').hide()
          $(`.cell-${col}`).show();
        }
        cbOptions.colHide = cbOptions.colHide || {};
        for (let ci = 0; ci < colCount; ci++) {
          cbOptions.colHide['' + ci] = true
          $(`.cell-${ci}`).toggleClass('no-select', ci !== col)
        }
        cbOptions.colHide['' + col] = false
        updateColumnStatus()
      }
      if (!first) {
        saveCbOptions()
      }
      $.get('/cb/page/note/{{id}}', {tag: tag}, r => {
        initNotes(r.raw || r.notes, tag, `.cell-${col},#body${col}`, r.desc)
      }).error(ajaxError('加载注解失败'))
    }
  }
  $('.init-notes-btn').click(e => _initNotesBtnClick(e.target, false))
  _initNotesBtnClick(null, true)

  // 获取当前网页内容（已完成段落分组时是最终网页内容，否则为中间网页内容），可用于合并制作页面
  function getHtml() {
    const $src = $('#content > .row0')
    const $content = $($src[0] || '#content').clone().appendTo($('body'))

    $content.find('.div-xu,.cell:hidden,.hide-txt').show()
    $content.find(':hidden,.note-p').remove()
    $content.find('.note-tag').removeAttr('title')
    $content.find('[cur-tag]').removeAttr('cur-tag')
    $content.remove()

    return trimHtml($content.html())
  }
  function trimHtml(html) {
    html = (html || '').trim()
    const hasCol = html.indexOf('"cell cell-') >= 0
    const space = s => new Array(/<p/.test(s) ? (hasCol ? 3 : 2) : /"cell/.test(s) ? 2 : 1).join('\t')
    return html.replace(/ data-line-no="[^"<>]*"|\s?(context-menu-active|note-expanded|no-select)/g, '')
            .replace(/ style="(display: block;|padding-left: 0px;|display: none;)*"| class=""|<note [^<>]+><\/note>/g, '')
            .replace(/(<\/(p|div)>){2,9}/g, s => s.replace(/></g, '>\n<'))
            .replace(/[>\n]<(p|div( id=[^ >]+)? class="(cell|row|lg)|div id=|div ke-pan=)/g, s => s[0].trim() + '\n' + space(s) + s.substr(1))
  }

  // 第4步改动网页内容（已完成段落分组时是最终网页内容，否则为中间网页内容）后，保存网页内容
  function saveHtml(ended) {
    $.post('/cb/page/{{id}}', {html: getHtml(), step: '{{step}}'}, ended).error(ajaxError('保存网页失败'))
  }

  // 下载合并后的网页内容
  $('#download-html').click(() => {
    $.get('/cb/page/{{id}}?export=1', r => {
      download(trimHtml(r.html), '{{id}}.html', 'text/html')
    })
  })

  // 下载注解文件
  $('#download-notes').click(() => {
    {% for tag, v in page.get('notes', {}).items() %}
    $.get('/cb/page/note/{{id}}', {tag: '{{tag}}'}, r => {
      const name = r.name.replace(/_.+$/, ''), head = `// ${r.desc || r.name}\n const ${name}Notes = `
      download(head + JSON.stringify(r.notes, null, 2), `{{id}}-${name}.json.js`, 'text/plain')
    })
    {% end %}
  })

  {% for tag, v in (step > 1 and notes or []) %}
  $.get('/cb/page/note/{{id}}', {tag: '{{tag}}'}, r => {
    insertNotes($(`.cell-${r.col},#body${r.col}`), r.notes, r.desc, r.tag)
  })
  {% end %}

  $(document).on('mouseenter', '[data-nid]', function (e) {
    const id = e.target.closest('[data-nid]').getAttribute('data-nid'),
            p = $(`.note-tag[data-nid=${id}]`), title = p.attr('title') || '';
    $('footer > p').text(`${p.attr('data-tag')}${id}: ${title}`);
  });

  // 切换是否显示右边标注面板
  $('.hide-label-panel').click(() => {
    $('body').toggleClass('hide-label-panel');
    cbOptions.hideLabelPanel = !cbOptions.hideLabelPanel;
    saveCbOptions();
  }).toggle($('.label-panel').length > 0);
  if (cbOptions.hideLabelPanel || window.innerWidth < 400) $('body').toggleClass('hide-label-panel', true);
</script>
</body>
</html>
