#cbeta-copyright {
  display: none;
}
.bold { font-weight: bold; }
.byline {
  color: #408080;
  text-align: right;
  text-indent: 0;
  font-size: .9em;
}
.cbeta { color: red; }
.doube-line-note {
  color: purple;
  font-size: 0.7em;
}
.doube-line-note::before {content: "(";}
.doube-line-note::after {content: ")";}
.hide-div-xu .xu-more {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  font-size: .8em;
}
.head {
  font-size: larger;
  color: #0000a0;
  text-align: center;
  text-indent: 0;
}
.juan {
  font-size: larger;
  color: #00f;
  text-align: center;
  text-indent: 0;
}
.juan-end {
  text-align: right;
  font-size: small;
  color: #777;
  text-indent: 0;
}
p[title] > .cb-no {
  display: block;
  color: #408080;
  font-size: .6em;
}
div.lg {
  display: table;
  color: #008040;
  margin-left: 2em;
}
div.lg-cell {
  display: table-cell;
  word-break: keep-all;
}
[data-col-count] div.lg-cell {
  word-break: break-all;
}
div.lg-row { display: table-row; }
div.lg + p { margin-top: .5em; }
p { text-indent: 2em; }
span.hint { color: blue; }
.dharani, .dharani .doube-line-note {color: #008040;}
.juan > .doube-line-note {display: inline-block;}

p {
  padding: 4px 0;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
html { overflow-x: hidden; }
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-family: BlinkMacSystemFont, Helvetica, 'PingFang SC', 'Microsoft YaHei', arial, sans-serif;
}

.no-print, nav, footer, .note-tag, .task-step,
.note-raw .org-text, .note-p .p-close {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media print {
  .no-print, nav, footer, .note-tag,
  .note-raw .org-text, .note-p .p-close {
    display: none;
  }
}

@media screen {
  body {
    background: #f5f5f5;
  }
}

.navbar {
  font-size: 14px;
}
.hide-navbar .navbar:not(:hover) {
  height: 40px;
  min-height: 40px;
  max-width: 55px;
  margin-left: -10px;
  margin-top: -10px;
  overflow: hidden;
  border-width: 0 2px 2px 0;
  border-bottom-right-radius: 8px;
}

@media screen {
  body:not(.hide-navbar) {
    padding-top: 60px;
  }
}

.single-article {
  margin-left: 15px;
  margin-right: 10px;
}

#content > .row,
#merged > .row {
  display: flex;
}

#content > .row > div:not(.row),
#merged > .row > div:not(.row) {
  flex: 1;
  min-width: 10px;
}
.container-fluid > .row {
  margin-right: 0;
  margin-left: 0;
}

#content, #merged {
  font-size: 20px;
}
[data-col-count="4"] #content,
[data-col-count="5"] #content,
[data-col-count="6"] #content {
  font-size: 18px;
}
[data-col-count="7"] #content,
[data-col-count="8"] #content,
[data-col-count="9"] #content {
  font-size: 17px;
}
[data-col-count="10"] #content,
[data-col-count="11"] #content,
[data-col-count="12"] #content {
  font-size: 15px;
}
#content:not(.single-article) .row > div {
  padding: 0 6px;
}
#content:not(.single-article) .row > div {
  border-left: 1px solid #ddd;
}
#content:not(.single-article) .row {
  border-bottom: 1px solid rgba(200, 200, 200, .2);
}

@media screen {
  .show-line-no [data-line-no]:not(.lg-cell)::before {
    content: attr(data-line-no);
    font-size: 9px;
    color: #999;
  }

  .show-line-no [data-line-no]:hover::before {
    color: #00f;
  }
}
.show-line-no div.lg {
  margin-left: .5em!important;
}

#content.show-line-no p,
#merged.show-line-no p {
  text-indent: 0;
}

.show-box .row {
  border-bottom: 1px solid #aaa;
}

.show-box .row p {
  border-bottom: 1px dotted #bbb;
  margin: 1px;
}

.show-box .row p:last-child {
  border-bottom: none;
}

body:not(.show-hide-txt) .hide-txt {
  display: none;
}


footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding: 4px;
  border-top: 1px solid #eee;
  background-color: rgb(249, 249, 249);
  white-space: nowrap;
}

footer a:hover {
  text-decoration: none;
  cursor: pointer;
}

footer .col-title,
footer .ke-pan-type-s {
  color: #666;
}
footer span {
  display: inline-block;
  text-indent: 0;
}
footer > p > span + span {
  margin-left: 8px;
}
footer > p > span + span::before {
  content: "|";
  margin-right: 8px;
  color: lightgray;
}
footer > p > span > span {
  color: #999;
  margin: 0 .4em;
}

span[ke-pan] {
  margin-right: .7em;
  transition: alls .3s ease-in-out;
}

span[ke-pan] > .ke-pan-text {
  font-size: .6em;
  color: #777;
}

.hide-ke-pan-txt .ke-pan-text {
  display: none;
}

.show-inline-ke-pan :not(.juan) > span[ke-pan] {
  margin-right: 0;
  display: block;
}

@media screen {
  [ke-pan].active, [ke-pan]:hover, [ke-pan].hover, .highlight {
    color: green;
  }

  [ke-pan].active, .highlight {
    font-weight: 700;
  }

  [ke-pan].hover {
    color: #008000;
  }
}
.show-inline-ke-pan .row p:not(.xu-more):not(.byline):not(.head) {
  margin-bottom: .5em;
}

.left-nav {
  position: fixed;
  left: 0;
  top: 50px;
  width: 25%;
  height: calc(100% - 90px);
  overflow: auto;
  border-right: 1px solid #ddd;
}
.hide-navbar .left-nav {
  top: 0;
  height: calc(100% - 40px);
}
.hide-left-bar .left-nav {
  display: none;
}

.hide-left-bar #content {
  padding-left: 15px;
}

#content table {
  width: 100%;
  table-layout: fixed;
}
#content td {
  padding: .5em;
  font-size: 18px;
}
#content td.ke-line {
  padding: 0 .5em;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  color: #222;
  background-color: #e3f1f8;
}
.btn-group .btn-default:not(.active) {
  background-color: white!important;
}

.btn-group.toggle-column {
  margin-left: 10px;
}

[id].moved::after {
  content: "*";
  color: rgba(255, 0, 0, .7);
}

.ke-line {
  padding: 0 4px;
  font-weight: 500;
  border-left: 1px solid #ddd;
  cursor: pointer;
}
.ke-line:not(.has-next-ke) {
  border-bottom: 1px solid #999;
}
.ke-line.first-ke {
  border-top: 1px solid #999;
  margin-top: -1px;
}
.hide-inline-ke-pan .ke-line {
  height: 2px;
  margin-bottom: -1px;
  overflow: hidden;
}
.hide-inline-ke-pan .ke-line.active {
  background-color: red;
  border-top: 1px solid red;
}
.ke-line:hover {color: #2b669a}
.ke-line.highlight {background-color: rgba(0, 0, 255, .07);}

.ke-line[data-indent="0"] {text-indent: 0;}
.ke-line[data-indent="1"] {text-indent: 1em;}
.ke-line[data-indent="2"] {text-indent: 2em;}
.ke-line[data-indent="3"] {text-indent: 3em;}
.ke-line[data-indent="4"] {text-indent: 4em;}
.ke-line[data-indent="5"] {text-indent: 5em;}
.ke-line[data-indent="6"] {text-indent: 6em;}
.ke-line[data-indent="7"] {text-indent: 7em;}

#ke-pan-select {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  padding: 4px;
}
