.note-p {
  display: none;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: .5em;
  text-indent: 0;
  font-size: .8em;
  -moz-box-shadow: 1px 1px 1px #aaa;
  box-shadow: 1px 1px 1px #aaa;
  transition: background-color 200ms ease-out,display 200ms ease-out;
}
.note-p + .note-p { margin-top: 4px; }
.org-text {
  margin-right: 1em;
  color: #99a;
  font-weight: 300;
}
.note-raw .org-text {
  font-size: 9px;
}
.note-text {
  color: #444;
}
.note-from {
  font-size: .7em;
  color: #99a;
  display: inline-block;
  cursor: pointer;
}
.note-raw .note-from {
  display: block;
  text-align: right;
}
.note-tag {
  color: #aaa;
  cursor: pointer;
  font-size: .7em;
}
.note-tag[data-tag]::after {
  content: attr(data-tag);
}
.note-tag.note-expanded {
  color: #f00;
}
.note-tag:hover {
  color: #00f;
}
.more {
  cursor: pointer;
}
note.note-expanded {
  color: #229;
}
