.note-p {
  display: none;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: .5em;
  text-indent: 0;
  font-size: .9em;
  -moz-box-shadow: 1px 1px 1px #aaa;
  box-shadow: 1px 1px 1px #aaa;
  transition: background-color 200ms ease-out,display 200ms ease-out;
}
.note-p + .note-p { margin-top: 4px; }
.org-text {
  margin-right: .5em;
  color: #99a;
  font-weight: 300;
}
.note-raw .org-text {
  font-size: .5em;
  display: none;
}
.note-item {
  display: block;
}
.note-raw {
  text-indent: 2em;
}
.show-line-no .note-raw .org-text {
  display: inline-block;
}
.show-line-no .note-raw {
  text-indent: 0;
}
.note-text {
  color: #333;
  font-family: STKaiti,"Kaiti SC","楷体","楷体_GB2312",KaiTi,KaiTi_GB2312,DFKai-SB;
}
.note-text2 {
  display: block;
  text-indent: 2em;
}
.note-text a {font-size: .6em; text-indent: 0;}
.note-from {
  font-size: .7em;
  color: #99a;
  display: inline-block;
  cursor: pointer;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.note-raw .note-from {
  display: block;
  text-align: right;
  font-weight: 300;
}
.note-tag {
  color: #aaa;
  cursor: pointer;
  font-size: .7em;
}
.note-tag[data-tag]::after {
  content: attr(data-tag);
}
.note-tag.note-expanded {
  color: #f00;
  font-weight: bold;
}
.note-tag:hover {
  color: #00f;
}
.more {
  cursor: pointer;
}
note.note-expanded, .note-expanded note {
  color: #229;
}
.tag-highlight { color: #00a; }
sup[title]:not([class]) { cursor: pointer; color: #777; }
