@media screen {
    [data-theme="warm"] {
        background-color: #ddf0e4;
        color: #464646;
    }

    [data-theme="warm"]::selection {
        background-color: #fffc81;
        color: #3F51B5;
    }

    [data-theme="warm"] footer,
    [data-theme="warm"] nav {
        background-color: #eef6f0;
    }

    [data-theme="dark"] {
        background-color: #111;
        color: #d1d1d1;
    }

    [data-theme="dark"] footer,
    [data-theme="dark"] a {
        background-color: #3b3b3d;
        color: #aaa;
    }

    [data-theme="dark"] code {
        color: rgb(201, 209, 217);;
        background-color: rgba(110, 118, 129, 0.4);
        border-color: transparent;
    }

    [data-theme="dark"] #content,
    [data-theme="dark"] #merged {
        font-weight: normal;
    }

    [data-theme="dark"] .dropdown-menu {
        color: #e1e1e1;
        background-color: #3b3b3d;
        border: 1px solid rgba(250, 250, 250, 0.15);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    [data-theme="dark"] .dropdown-menu > li > a {
        color: #c2c2c4;
    }

    [data-theme="dark"] .dropdown-menu > li > a:focus,
    [data-theme="dark"] .dropdown-menu > li > a:hover {
        color: #dfe0e1;
        background-color: #343a40;
    }

    [data-theme="dark"] .dropdown-menu > .active > a,
    [data-theme="dark"] .dropdown-menu > .active > a:focus,
    [data-theme="dark"] .dropdown-menu > .active > a:hover {
        color: #fafafa;
        background-color: #375a7f;
    }

    [data-theme="dark"] .dropdown-menu .divider {
        background-color: rgba(250, 250, 250, 0.15);
    }

    [data-theme="dark"] .navbar-default .navbar-nav > li > a {
        color: #5f7b99;
    }

    [data-theme="dark"] .nav .open > a,
    [data-theme="dark"] .nav .open > a:focus,
    [data-theme="dark"] .nav .open > a:hover {
        background-color: #375a7f;
        border-color: inherit;
        color: #fafafa;
    }

    [data-theme="dark"] .navbar-default {
        color: #5f7b99;
        background-color: #3b3b3d;
        border-color: #555;
    }

    [data-theme="dark"] .navbar-default .navbar-nav > .active > a,
    [data-theme="dark"] .navbar-default .navbar-nav > .active > a:focus,
    [data-theme="dark"] .navbar-default .navbar-nav > .active > a:hover {
        color: #fafafa;
        background-color: #375a7f;
        border-color: #375a7f;
    }

    [data-theme="dark"] .btn {
        color: #5f7b99;
        background-color: transparent;
        border: 1px solid transparent;
    }

    [data-theme="dark"] .btn-primary {
        color: #e1e1e1;
        background-color: #375a7f;
        border-color: #375a7f;
    }

    [data-theme="dark"] .btn-group .btn-default:not(.active) {
        background-color: #3b3b3b;
        border: 1px solid #515151;
    }

    [data-theme="dark"] .btn-default.active {
        color: #e1e1e1;
        background-color: #375a7f;
        border-color: #375a7f;
    }

    [data-theme="dark"] .btn-default:hover,
    [data-theme="dark"] .btn-group .btn-default:not(.active):hover {
        border-color: #5e98d7;
    }

    [data-theme="dark"] .ke-line.first-ke,
    [data-theme="dark"] .ke-line[data-path],
    [data-theme="dark"] #content:not(.single-article) .row > div,
    [data-theme="dark"] hr,
    [data-theme="dark"] footer,
    [data-theme="dark"] .left-nav {
        border-color: rgba(250, 250, 250, 0.15);
    }
    [data-theme="dark"] .ke-line[data-path] {background-color: rgba(0, 100, 0, .2);}
    [data-theme="dark"] .ke-line > span {color: #999;}
    [data-theme="dark"] #content:not(.single-article) .row {border-color: transparent;}

    [data-theme="dark"] .tag-highlight,
    [data-theme="dark"]:not(.hide-note-tag)  note.note-expanded,
    [data-theme="dark"]:not(.hide-note-tag)  .note-expanded note {
        color: #0be369;
    }
    [data-theme="dark"] .note-p {
        border-color: #555;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    [data-theme="dark"] .note-tag:hover {color: #0f0; font-weight: bold;}
    [data-theme="dark"] .note-text {color: #999;}
    [data-theme="dark"] .org-text {color: #99d;}
    [data-theme="dark"] .note-from:hover {color: #0f0;}
}
