[data-theme="dark"] {
    --border-color: rgba(250, 250, 250, 0.2);
}

@media screen {
    [data-theme="warm"] body,
    [data-theme="warm"] .modal-content,
    [data-theme="warm"] .form-control {
        background-color: #ddf0e4;
        color: #464646;
    }

    [data-theme="warm"] ::selection {
        background-color: #fffc81;
        color: #3F51B5;
    }

    [data-theme="warm"] .btn:not(.btn-primary) {background-color: transparent;}

    [data-theme="warm"] footer,
    [data-theme="warm"] nav {background-color: #eef6f0;}
    [data-theme="warm"] #content:not(.single-article) .row {border: transparent;}
    [data-theme="warm"] #content:not(.single-article) .row > div:not(.cell-0) {border-color: #ddd;}
    [data-theme="warm"] .ke-line { background-color: rgba(200, 200, 230, .15)}

    [data-theme="dark"] body,
    [data-theme="dark"] .modal-content,
    [data-theme="dark"] .form-control,
    [data-theme="dark"] textarea,
    [data-theme="dark"] .swal-modal,
    [data-theme="dark"] .swal-title,
    [data-theme="dark"] .swal-content__textarea,
    [data-theme="dark"] .swal-text,
    [data-theme="dark"] .context-menu-item,
    [data-theme="dark"] .context-menu-item,
    [data-theme="dark"] .context-menu-list {
        background-color: #111;
        color: #d1d1d1;
    }
    [data-theme="dark"] body {
        border-right: 1px solid rgba(200, 200, 200, .1);
    }

    [data-theme="dark"] footer {
        background-color: #1b1b1d;
        color: #aaa;
    }
    [data-theme="dark"] a {
        color: #aaa;
    }

    [data-theme="dark"] code {
        color: rgb(201, 209, 217);;
        background-color: rgba(110, 118, 129, 0.4);
        border-color: transparent;
    }

    [data-theme="dark"] #content,
    [data-theme="dark"] #merged {
        font-weight: normal;
    }

    [data-theme="dark"] .dropdown-menu {
        color: #e1e1e1;
        background-color: #3b3b3d;
        border: 1px solid rgba(250, 250, 250, 0.15);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    [data-theme="dark"] .dropdown-menu > li > a {
        color: #c2c2c4;
    }

    [data-theme="dark"] .dropdown-menu > li > a:focus,
    [data-theme="dark"] .dropdown-menu > li > a:hover {
        color: #dfe0e1;
        background-color: #343a40;
    }

    [data-theme="dark"] .dropdown-menu > .active > a,
    [data-theme="dark"] .dropdown-menu > .active > a:focus,
    [data-theme="dark"] .dropdown-menu > .active > a:hover {
        color: #fafafa;
        background-color: #375a7f;
    }

    [data-theme="dark"] .dropdown-menu .divider {
        background-color: rgba(250, 250, 250, 0.15);
    }
    [data-theme="dark"] .context-menu-separator {
        border-color: rgba(200, 200, 200, 0.2);
    }

    [data-theme="dark"] .navbar-default .navbar-nav > li > a {
        color: #5f7b99;
    }

    [data-theme="dark"] .nav .open > a,
    [data-theme="dark"] .nav .open > a:focus,
    [data-theme="dark"] .nav .open > a:hover {
        background-color: #375a7f;
        border-color: inherit;
        color: #fafafa;
    }

    [data-theme="dark"] .navbar-default {
        color: #5f7b99;
        background-color: #3b3b3d;
    }
    [data-theme="dark"] .modal-header,
    [data-theme="dark"] .modal-footer,
    [data-theme="dark"] .navbar-default {
        border-color: #555;
    }

    [data-theme="dark"] .navbar-default .navbar-nav > .active > a,
    [data-theme="dark"] .navbar-default .navbar-nav > .active > a:focus,
    [data-theme="dark"] .navbar-default .navbar-nav > .active > a:hover {
        color: #fafafa;
        background-color: #375a7f;
        border-color: #375a7f;
    }

    [data-theme="dark"] .btn {
        color: #5f7b99;
        background-color: transparent;
        border: 1px solid #333;
    }

    [data-theme="dark"] .btn-default {
        border-color: rgba(250, 250, 250, 0.15);
    }

    [data-theme="dark"] .btn-primary,
    [data-theme="dark"] .swal-button {
        color: #e1e1e1;
        background-color: #375a7f;
        border-color: transparent;
    }

    [data-theme="dark"] .swal-button--cancel {
        color: #5f7b99;
        background-color: transparent;
        border: 1px solid #333;
    }
    [data-theme="dark"] .swal-button:active {
        background-color: #375a7f;
    }

    [data-theme="dark"] .btn-group .btn-default:not(.active) {
        background-color: #3b3b3b;
        border: 1px solid #515151;
    }

    [data-theme="dark"] .btn-default.active {
        color: #e1e1e1;
        background-color: #375a7f;
        border-color: #375a7f;
    }

    [data-theme="dark"] .btn-default:hover,
    [data-theme="dark"] .btn-group .btn-default:not(.active):hover {
        border-color: #5e98d7;
    }

    [data-theme="dark"] .form-control[disabled],
    [data-theme="dark"] .form-control[readonly],
    [data-theme="dark"] fieldset[disabled] .form-control,
    [data-theme="dark"] .context-menu-item.context-menu-disabled {
        background-color: #111;
        color: #555;
    }

    [data-theme="dark"] .ke-line.first-ke,
    [data-theme="dark"] .ke-line[data-path],
    [data-theme="dark"] #content:not(.single-article) .row > div,
    [data-theme="dark"] .original + .original,
    [data-theme="dark"] .row > div + div,
    [data-theme="dark"] .show-box .row,
    [data-theme="dark"] hr,
    [data-theme="dark"] footer,
    [data-theme="dark"] .left-nav,
    [data-theme="dark"] .label-panel,
    [data-theme="dark"] .label-panel > .notes,
    [data-theme="dark"] #ke-pan-select,
    [data-theme="dark"] .form-control {
        border-color: rgba(250, 250, 250, 0.15);
    }
    [data-theme="dark"] .ke-line {background-color: rgba(0, 100, 0, .2);}
    [data-theme="dark"] .ke-line > span {color: #999;}
    [data-theme="dark"] #content:not(.single-article) .row {border-color: rgba(100, 100, 100, .15);}

    [data-theme="dark"] .show-box .row p {border-color: #555;}
    [data-theme="dark"] .in-cur-row,
    [data-theme="dark"] .context-menu-active {
        background-color: #444;
    }
    [data-theme="dark"] .context-menu-list {
        border-color: #777;
    }

    [data-theme="dark"] .swal-modal,
    [data-theme="dark"] .swal-content__textarea:not(:focus),
    [data-theme="dark"] .swal-content__input:not(:focus),
    [data-theme="dark"] textarea:not(:focus) {
        border: 1px solid #444;
    }

    [data-theme="dark"] [ke-pan].active,
    [data-theme="dark"] .highlight {color: #ddd;}
    @media (pointer: coarse) {
        [data-theme="dark"] [ke-pan]:hover {color: #ddd;}
    }

    [data-theme="dark"] .tag-highlight,
    [data-theme="dark"] body:not(.hide-note-tag)  note.note-expanded,
    [data-theme="dark"] body:not(.hide-note-tag)  .note-expanded note {
        color: #0be369;
    }
    [data-theme="dark"] .note-p {
        border-color: #555;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    [data-theme="dark"] .note-text {color: #999;}
    [data-theme="dark"] .org-text {color: #99d;}
    @media (pointer: coarse) {
        [data-theme="dark"] .note-tag:hover {color: #0f0; font-weight: bold;}
        [data-theme="dark"] .note-from:hover {color: #0f0;}
    }

    [data-theme="dark"] .jstree-default .jstree-clicked,
    [data-theme="dark"] .jstree-default .jstree-hovered {background: #0b3040;}
    [data-theme="dark"] .jstree-icon {opacity: .4;}

    .scrollbar-hidden::-webkit-scrollbar-thumb {
        background: transparent
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(100, 100, 100, .15);
        border-radius: 5px;
        min-height: 100px;
        background-clip: content-box
    }

    [data-theme="dark"] ::-webkit-scrollbar-thumb {
        background: rgba(200, 200, 200, .15);
    }
    [data-theme="warm"] ::-webkit-scrollbar-thumb {
        background: rgba(100, 100, 100, .15);
    }

    @media (pointer: coarse) {
        ::-webkit-scrollbar-thumb:hover {
            background: #ccc;
            border-radius: 5px;
            min-height: 100px;
            background-clip: content-box;
        }

        [data-theme="dark"] ::-webkit-scrollbar-thumb:hover {
            background: #444;
        }

        [data-theme="warm"] ::-webkit-scrollbar-thumb:hover {
            background: #bbb;
        }
    }

    [data-theme="warm"] ::-webkit-scrollbar-corner,
    [data-theme="dark"] ::-webkit-scrollbar-corner {
        background-color: inherit
    }
}
